.header__lang-link {
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  font-style: normal;
}

.header__lang-link:nth-of-type(1) {
  margin-right: 18px;
  border-bottom: 1px solid;
}
