.places {
  margin: 0 auto 0 auto;
  max-width: 984px;
}

@media screen and (min-width:768px) and (max-width: 1150px) {
  .places {
    /* width: 90.625vw; */
    max-width: 928px;
    width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .places {
    margin: 0;
  }
}
