.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
}

.place__paragraph:last-of-type {
  grid-area: text;
  margin-top: 26px;
}

.place__paragraph:first-of-type {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 693px) {
  .place__paragraph {
    margin-top: 32px;
  }
}
