.cover {
  max-width: 1184px;
  margin: 92px auto 0 auto;
  position: relative;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 57.81vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover::before {
  content:"";
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: rgba(42, 44, 47, 100%);
  opacity: 0.3;
  transition: opacity 0.3s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (min-width: 1281px) {
  .cover {
    min-height: 740px;
  }
}

@media screen and (max-width: 693px) {
  .cover {
    margin: 66px auto 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .cover {
    min-height: 62.5vw;
  }
}
